.App h1 {
    font-size: 4rem;
}
.App {
    width: 80%;
    height: 100vh;
   
  }
  form {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
  }
  button {
    background: dodgerblue;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 6px;
  }
  input {
    height: 2rem;
    width: 250px;
    font-size: 1.3rem;
  }